

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
  }
  
  li {
    float: right;
  }
  
  :rg {
        float: right;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }





html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(168, 189, 195) 50%, rgb(195, 152, 152) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(19, 16, 16, 0.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }


#hed  {
  margin-left: 20%;
  font-size: 40px;
  animation: fadeIn 5s;
  white-space:nowrap;
  text-shadow: #111;
}

#hed2 {
  margin-left: 20%;
  font-size: 25px;
  animation: fadeIn 8s;
  text-shadow: #111;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
  }
  100% { 
    opacity: 1; 
  }
}

.ice{
  
  position: relative;
  top: 10%px; left: 600px;
}


.name{
  float:right;
  position:relative;
  top: 20px;right: 300px;
}


#ing{

  position: relative;
  top: 135px; right: 60px;
  animation: fadeIn 5s;
}




